                                         /* Биткоин */

@keyframes scrollBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100%; }
}


body {
    background-image: url('pizza.png');
    background-size: cover;
    background-position: center;
animation: scrollBackground 11s linear infinite;

}


#bitcoin-container {    
    box-sizing: border-box;   
    border: 2px solid #000;  
    padding: 20px;    
    text-align: center;    
    margin: 10px auto;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* Белый фон под кнопкой

}

#bitcoin-rate {
    font-size: 24px;
    margin-bottom: 15px;
}

#update-button {
    padding: 10px 20px;
    font-size: 20px;
}

#trend-arrow {
    font-size: 24px;
    color: green; /* Зеленый для роста, красный для падения */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #cf1524;
    color: white;
    border: none;
    cursor: pointer;
}

header button:hover {
    background-color: #58e067;
}