/* Updated reviews-style.css (added styles for file input and images) */

#reviews-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
}

#reviews-list {
    margin-bottom: 20px;
}

.review-item p {
    margin: 5px 0;
    word-wrap: break-word; /* перенос слов на др строку */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ede8e8;
    border-radius: 5px;
}

.review-item p {
    margin: 5px 0;
}

#review-form input, #review-form textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#review-form input[type="file"] {
    border: none;
    padding: 0;
}

#review-form button {
    padding: 10px 20px;
    background-color: #58e067;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#review-form button:hover {
    background-color: #4caf50;
}

body {   
    background-color: #000; /* Черный фон */
}

/* анимация фона картинки */
          
@keyframes dvdAnimation {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}

body {
    background-image: url('otzivi.jpg'); /* фоновое изображение */
    background-size: 600px;
    background-position: center;
    
    animation: dvdAnimation 150s linear infinite;
}

.music-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #58e067;
}