#reviews-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
}

#reviews-list {
    margin-bottom: 20px;
}

.review-item p {
    margin: 5px 0;
    word-wrap: break-word;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ede8e8;
    border-radius: 5px;
}

.nickname, .review-date {
    font-weight: bold;
    color: #333;
}

#review-form input, #review-form textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#review-form input[type="file"] {
    border: none;
    padding: 0;
}

#review-form button {
    padding: 10px 20px;
    background-color: #58e067;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#review-form button:hover {
    background-color: #4caf50;
}

body {
    background-color: #000;
    background-image: url('otzivi.jpg');
    background-size: 600px;
    background-position: center;
    animation: dvdAnimation 300s linear infinite;
}

@keyframes dvdAnimation {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}

.music-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #58e067;
}

.review-item img {
    max-width: 200px;
    max-height: 200px;
    filter: blur(10px);
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.review-item audio {
    max-width: 100%;
    margin-top: 10px;
    display: block;
}

.highlight {
    background-color: yellow;
    transition: background-color 1s ease;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

#pagination button {
    padding: 5px 10px;
    font-size: 16px;
}

#pagination span {
    margin: 0 10px;
    font-weight: bold;
}
